body{
    font-family: monospace;
    font-size: 20px;
    user-select: none;
    background-color: var(--main-color);
    color: var(--text-color);
    overflow: hidden;
}

.main-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    gap: 16px;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    gap: 16px
}

input[type="radio"], input[type="checkbox"] {
    appearance: none;
    position: absolute;
    z-index: -1;
    opacity: 0
}

label:has(input:checked) p.content-name{
    color: var(--main-color);
    background-color: var(--text-color);
}

label:has(input:checked) .folder-name::after{
    content: '/';
}

label:has(input:checked) .txt-name::after{
    content: '>';
}

label:has(input):hover{
    background-color: var(--accent-color);
}

a:hover{
    background-color: var(--accent-color);
    text-decoration: underline;
}

a{
    color: var(--text-color);
}

.a-section{
    margin: 8px;
}

/* p.txt-section:hover{
    font-weight: bold;
} */

:is(.main-wrapper:has(#main-toggle:checked)) .content-wrapper {
    opacity: 1;
    pointer-events: all;
}

:is(.main-wrapper:has(#main-toggle:checked)) h1 {
    background-color: var(--text-color);
    color: var(--main-color)
}

h1{
    font-size: 48px;
    margin: 0
}

.content-wrapper{
    display: flex;
    opacity: 0;
    pointer-events: none;
    margin-left: 320px;
    gap: 16px
}

.txt-section{
    padding: 8px;
    margin: 0
}

.content-section{
    width: 180px;
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto;
}

.content-name{
    padding: 8px;
    margin: 1px;
}

.txt{
    position: absolute;
    border: 1px var(--text-color) solid;
}

#readme{
    display: none;
}

.error-name{
    position: absolute;
    color: var(--that-one-empty-folder-color);
    width: auto
}

:is(.content-wrapper:has(#readme-toggle:checked)) #readme {
    display: flex
}

#skills{
    display: none;
}

:is(.content-wrapper:has(#about-toggle:checked)) #about {
    display: flex
}

#about{
    display: none;
}

:is(.content-wrapper:has(#skills-toggle:checked)) #skills {
    display: flex
}

#links{
    display: none;
}

:is(.content-wrapper:has(#colors-toggle:checked)) #colors {
    display: flex
}

#colors{
    display: none;
}

.wrapper-wrap{
    flex-wrap: wrap
}

.wrapper-list{
    flex-direction: column;
}

:is(.content-wrapper:has(#links-toggle:checked)) #links {
    display: flex
}

#current{
    display: none
}

:is(.content-wrapper:has(#current-toggle:checked)) #current {
    display: flex
}

#learning{
    display: none
}

:is(.content-wrapper:has(#learning-toggle:checked)) #learning {
    display: flex
}

#planning{
    display: none
}

:is(.content-wrapper:has(#planning-toggle:checked)) #planning {
    display: flex
}

#exp{
    display: none
}

:is(.content-wrapper:has(#exp-toggle:checked)) #exp {
    display: flex
}

:is(.content-wrapper:has(#skills-toggle:not(:checked))) #current {
    display: none
}

:is(.content-wrapper:has(#skills-toggle:not(:checked))) #learning {
    display: none
}

:is(.content-wrapper:has(#skills-toggle:not(:checked))) #planning {
    display: none
}

.back-button{
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: none;
    padding: 8px;
}

p{
    margin: 0
}

.back-button:checked{
    color: var(--main-color);
    background-color: var(--text-color);
}

.hint:before{
    content: '<-    '
}

.hint:after{
    content: ''
}

@media (prefers-color-scheme: light) {
    body{
        --main-color: white;
        --text-color: black;
        --accent-color: lightgray;
        --that-one-empty-folder-color: gray;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        --main-color: black;
        --text-color: white;
        --accent-color: gray;
        --that-one-empty-folder-color: lightgray;
    }
}

@media screen and (max-width: 40rem) {
    .content-wrapper{
        margin-left: 0px
    }
    .main-wrapper{
        justify-content: initial;
        margin-top: 40vh
    }
    body{
        font-size: 16px
    }
    h1{
        font-size: 36px
    }
    label:has(input):hover{
        background-color: inherit;
    }
    /* label:focus{
        background-color: var(--text-color);
        color: var(--main-color)
    } */
    :is(.content-wrapper:has(input[class='1st-section']:checked)) .section-1 {
        display: none
    }
    :is(.content-wrapper:has(input[class='2st-section']:checked)) .section-2 {
        display: none
    }
    :is(.content-wrapper:has(input[class='3st-section']:checked)) .section-3 {
        display: none
    }
    .header{
        flex-direction: column;
        align-items: baseline;
        justify-content: left;
    }
    .hint:after{
        content: ' ^'
    }
    .hint:before{
        content: '^ '
    }
}

:is(.main-wrapper:has(input[class='main-toggle']:checked)) #main-back-button {
    display: block
}

:is(.main-wrapper:has(input[class='main-toggle']:checked)) #first-back-button {
    display: none
}

:is(.main-wrapper:has(input[class='main-toggle']:checked)) #second-back-button {
    display: none
}

:is(.main-wrapper:has(input[class='1st-section']:checked)) #main-back-button{
    display: none
}

:is(.main-wrapper:has(input[class='1st-section']:checked)) #first-back-button{
    display: block
}

:is(.main-wrapper:has(input[class='1st-section']:checked)) #second-back-button{
    display: none
}

:is(.main-wrapper:has(input[class='2st-section']:checked)) #main-back-button{
    display: none
}

:is(.main-wrapper:has(input[class='2st-section']:checked)) #first-back-button{
    display: none
}

:is(.main-wrapper:has(input[class='2st-section']:checked)) #second-back-button{
    display: block
}

.hint{
    font-size: 12px;
    animation: 1s infinite hint-blink;
}

:is(.main-wrapper:has(#main-toggle:checked)) .hint {
    display: none
}

@keyframes hint-blink {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.hidden-folder{
    opacity: 0
}

/* blud doesnt deploy so recommit */