body{
    font-family: monospace;
    font-size: 20px;
    user-select: none;
    background-color: var(--main-color);
    color: var(--text-color);
    overflow: hidden;
}

@media (prefers-color-scheme: light) {
    body{
        --main-color: white;
        --text-color: black;
        --accent-color: lightgray;
        --that-one-empty-folder-color: gray;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        --main-color: black;
        --text-color: white;
        --accent-color: gray;
        --that-one-empty-folder-color: lightgray;
    }
}

.main-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 16px
}

input[type="radio"], input[type="checkbox"] {
    appearance: none;
    position: absolute;
    z-index: -1;
    opacity: 0
}

label:has(input:checked) p{
    color: var(--main-color);
    background-color: var(--text-color);
}

label:has(input:checked) .folder-name::after{
    content: '/';
}

label:has(input:checked) .txt-name::after{
    content: '>';
}

label:has(input):hover{
    background-color: var(--accent-color);
}

a:hover{
    background-color: var(--accent-color);
    text-decoration: underline;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

/* p.txt-section:hover{
    font-weight: bold;
} */

:is(.main-wrapper:has(#main-toggle:checked)) .content-wrapper {
    opacity: 1;
    pointer-events: all;
}

:is(.main-wrapper:has(#main-toggle:checked)) h1 {
    background-color: var(--text-color);
    color: var(--main-color)
}

h1{
    font-size: 48px;
    margin: 0
}

.content-wrapper{
    display: flex;
    opacity: 0;
    pointer-events: none;
    margin-left: 320px;
    gap: 16px
}

.txt-section{
    padding: 8px;
    margin: 0
}

.content-section{
    width: 180px;
    display: grid;
    grid-template-rows: auto;
}

.content-name{
    padding: 8px;
    margin: 0;
}

.txt{
    position: absolute;
    border: 1px var(--text-color) solid;
}

#readme{
    display: none;
}

.error-name{
    position: absolute;
    color: var(--that-one-empty-folder-color);
    width: auto
}

:is(.content-wrapper:has(#readme-toggle:checked)) #readme {
    display: flex
}

#skills{
    display: none;
}

:is(.content-wrapper:has(#skills-toggle:checked)) #skills {
    display: flex
}

#links{
    display: none;
}

.wrapper-wrap{
    flex-wrap: wrap
}

.wrapper-list{
    flex-direction: column;
}

:is(.content-wrapper:has(#links-toggle:checked)) #links {
    display: flex
}

#current{
    display: none
}

:is(.content-wrapper:has(#current-toggle:checked)) #current {
    display: flex
}

#learning{
    display: none
}

:is(.content-wrapper:has(#learning-toggle:checked)) #learning {
    display: flex
}

#planning{
    display: none
}

:is(.content-wrapper:has(#planning-toggle:checked)) #planning {
    display: flex
}

#exp{
    display: none
}

:is(.content-wrapper:has(#exp-toggle:checked)) #exp {
    display: flex
}

:is(.content-wrapper:has(#skills-toggle:not(:checked))) #current {
    display: none
}

:is(.content-wrapper:has(#skills-toggle:not(:checked))) #learning {
    display: none
}

:is(.content-wrapper:has(#skills-toggle:not(:checked))) #planning {
    display: none
}
